[buildout]
parts = interpreter test
develop = .
unzip = true

[interpreter]
recipe = zc.recipe.egg
interpreter = python
eggs =
    Products.PluginRegistry

[test]
recipe = zc.recipe.testrunner
eggs =
    Products.PluginRegistry
